.plan{
    padding: 2vh;
    border-radius: 20px;
    margin: .2vw;
    background: rgb(79, 79, 248);
}
.dayHeader{
    margin-bottom: 3vh;
    border-bottom: solid 1px black;
    width: 80%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.schedDay{
    border: solid 1px black;
    height: 90vh;
    top: 10vh;
    position: relative;
    display: table-cell;
    text-align: center;
}
.schedContainer{
    display: table;
    width: 100%;
    table-layout: fixed; 
}
.addPlan{
    width: 90%;
    border-radius: 10px;
    background-color: none;
    border: solid 3px rgb(0, 47, 255);
    color: rgb(0, 47, 255);
    font-size: 2vw;
    font-weight: bolder;
    position: relative;
    margin: .2vw;
}