.plan{
    padding: 10px;
    border-radius: 20px;
    margin: 3px;
    background: rgb(79, 79, 248);
}
.schedDay{
    border: solid 1px black;
    height: 90vh;
    top: 10vh;
    position: relative;
    display: table-cell;
    text-align: center;
}
.schedContainer{
    display: table;
    width: 100%;
    table-layout: fixed; 
}
.addPlan{
    width: 100%;
    border-radius: 10px;
    background-color: none;
    border: solid 3px rgb(0, 47, 255);
    color: rgb(0, 47, 255);
    font-size: 2vw;
    font-weight: bolder;
    position: relative;
    bottom: 0;
}