.navContainer{
    height: 10vh;
    width: 100%;
    top: 0;
    position: absolute;
    background: rgb(116, 172, 190);
}
.navUL{
    position: relative;
    top: 2vh;
    display: block;
    list-style: none;
    font-size: 4vh;
}
.active{
    position: absolute;
    right: 45vw;
    transition: left 2s, right 2s, color 2s;
    color: white;
}
.inactive{
    position: absolute;
    right: 5vw;
    transition: left 2s, right 2s, color 2s;
    color: rgba(255, 255, 255, 0.541);
}
.navLeft{
    position: absolute;
    left: 5vw;
    color: rgba(255, 255, 255, 0.541);
}