.navContainer{
    height: 10vh;
    width: 100%;
    top: 0;
    position: relative;
    background: none;
    box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
    border-radius: 30px;
}
.navUL, .navItem{
    position: relative;
    top: 1vh;
    display: block;
    list-style: none;
    font-size: 3vh;
    color: white;
    text-shadow: none;
    transition: text-shadow 1s, color 1s;
    text-align: center;
}
.navItem:hover{
    position: relative;
    top: 1vh;
    display: block;
    list-style: none;
    text-decoration: none;
    font-size: 3vh;  
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: rgb(43, 45, 53);
}
.active{
    position: absolute;
    right: 45vw;
    transition: left 2s, right 2s, color 2s;
    color: white;
}
.inactive{
    position: absolute;
    right: 5vw;
    transition: left 2s, right 2s, color 2s;
    color: rgba(255, 255, 255, 0.541);
}
.navLeft{
    position: absolute;
    left: 5vw;
    color: rgba(255, 255, 255, 0.541);
}